<nav class="navbar navbar-inverse header">
    <div class="container-fluid">
        <!-- 标题 -->
        <div class="navbar-header">
            {% if not permission %}
                <a class="navbar-brand" id="navheader" href="/home">NEU OS实验分发平台</a> 
            {% else %}
                <a class="navbar-brand" id="navheader" href="/teacher">NEU OS实验分发平台
                    <span class="badge">教师版</span>
                </a>
            {% endif %}
        </div>
        <!-- 欢迎词 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="navtext">
                <p class="navbar-text">欢迎您，{{request.user.username}}</p>
                <li><a href="/accounts/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
