{% extends 'base.html' %}

{% block header %}
    作业管理
    {% if qi %}
        <small>作业{{ qi.id }}</small>
    {% endif %}
{% endblock %}

{% block content %}

{% if qi %}
<!-- 作业概况 -->
<div style="font-size: 16px;">
    <select class="form-control" style="width: 100px; margin: 10px 0px; display: inline" onchange="self.location.href=options[selectedIndex].value">
        {% for id in issue_num %}
            {% ifequal id issue %}
                <option value="/teacher/issues/{{ id }}" selected="selected">作业{{ id }}</option>
            {% else %}
                <option value="/teacher/issues/{{ id }}">作业{{ id }}</option>
            {% endifequal %}
        {% endfor %}
    </select>
    <span style="margin-left: 20px;">
        {% if qi.issued %}
            <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
            <span class="green">已下发</span>
        {% else %}
            <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
            <span class="red">未下发</span>
        {% endif %}
    </span>
    
    <span style="margin-left: 20px">
        {% if qi.allow_submit %}
            <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
            <span class="green">可提交</span>
        {% else %}
            <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
            <span class="red">不可提交</span>
        {% endif %}
    </span>
    
    <span style="margin-left: 20px">
        截止时间：
        {% if qi.deadline %}
            <b>{{ qi.deadline }}</b>
        {% else %}
            未设置
        {% endif %}
    </span>
</div>

<!-- 作业操作 -->
<div class="panel panel-success" style="max-width: 600px">
    <div class="panel-heading">
        <h3 class="panel-title">作业操作</h3>
    </div>
    <div class="panel-body">
        <!-- 是否下发 -->
        {% if qi.issued %}
            <span>是否下发：<span class="green">已下发</span></span>
            <button id="switch_issued" action="close" class="btn btn-default" type="submit">停止</button>
        {% else %}
            <span>是否下发：<span class="red">未下发</span></span>
            <button id="switch_issued" action="open" class="btn btn-default" type="submit">下发作业</button>
        {% endif %}
        <hr>
        <!-- 是否允许提交 -->
        {% if qi.allow_submit %}
            <span>提交入口：<span class="green">已开启</span></span>
            <button id="switch_allow_submit" action="close" class="btn btn-default" type="submit">关闭</button>
        {% else %}
            {% if qi.issued %}
                <span>提交入口：<span class="red">已关闭</span></span>
                <button id="switch_allow_submit" action="open" class="btn btn-default" type="submit">开启</button>
            {% else %}  
                <span>提交入口：<span class="gray">请先下发作业</span></span>
            {% endif %}
        {% endif %}
        <hr>
        <!-- 是否设置截止时间 -->
        {% if qi.deadline %}
            截止时间：
            {% if qi.deadline <= time %}
                <span class="red">{{qi.deadline}}（已过期）</span>
            {% else %}
                <span class="green">{{qi.deadline}}</span>
            {% endif %}
            <button class="btn btn-default" data-toggle="modal" data-target="#deadlineModal">修改</button>
        {% else %}
            <span>截止时间：<span class="red">未设置</span></span>
            <button class="btn btn-default" data-toggle="modal" data-target="#deadlineModal">设置</button>
        {% endif %}
    </div>
</div>

<!-- 已提交作业模块 -->
<div class="panel panel-success" style="max-width: 900px">
    <div class="panel-heading">
        <h3 class="panel-title" style="display: inline">已提交作业</h3>
        {% ifequal issue 1 %}
        <button class="btn btn-info" style="float: right;margin-top:-6px;margin-right:10px" data-toggle="modal" data-target="#checkModal">验收全部</button>
        {% endifequal %}
    </div>
    <table class="table table-hover">
        <thead>
          <th>学号</th>
          <th>姓名</th>
          <th>提交时间</th>
          <th>是否按时</th>
          <th>验收结果</th>
          <th>操作</th>
        </thead>
        <tbody>
        {% for qh in qh_all %}
            {% if qh.repo %}
            <tr>
                <!-- 学号 -->
                <td>{{qh.student_id.student_id}}</td>
                <!-- 姓名 -->
                <td>{{qh.student_id.name}}</td>
                <!-- 提交时间 -->
                <td>{{qh.submit_time}}</td>
                <!-- 是否按时 -->
                <td>
                    {% if qh.repo %}
                        {% if qh.submit_time < qi.deadline %}
                            <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                        {% endif %}
                    {% else %}
                        <span>——</span>
                    {% endif %}
                </td>
                <!-- 验收结果 -->
                <td>
                    {% if qh.check_result %}
                        {% if qh.check_result == 1 %}
                            <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                        {% elif qh.check_result == 2 %}
                            <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                        {% elif qh.check_result == 3 %}
                            <span class="gray">检测中</span> 
                        {% else %}
                            <span class="red">系统错误</span>   
                        {% endif %}
                    {% else %}
                    <span class="gray">未验收</span>
                    {% endif %}
                </td>
                <!-- 操作 -->
                <td><a href="https://github.com/{{qh.student_id.github}}/{{qh.repo}}" target="_blank">查看作业</a></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- 未提交模块 -->
<div class="panel panel-danger" style="max-width: 600px">
    <div class="panel-heading">
        <h3 class="panel-title">未提交名单</h3>
    </div>
    
    <table class="table table-hover">
        <thead>
            <th>学号</th>
            <th>姓名</th>
            <th>是否绑定Github</th>
            <th>作业是否下载</th>
            <th>下载剩余次数</th>
        </thead>
        <tbody>
        {% for qs in qs_not_all %}
            <tr>
                <td>{{qs.student_id}}</td>
                <td>
                    {% if qs.name %}
                        <span>{{qs.name}}</span>
                    {% else %}
                       <span>——</span> 
                    {% endif %}
                </td>
                <td>
                    {% if qs.github %}
                        <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>                        
                    {% else %}
                        <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>                        
                    {% endif %}
                    
                </td>
                <td>
                    {% if qs.homework %}
                        <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td>
                    {% if qs.homework.download_limit %}
                        <span>{{qs.homework.download_limit}}</span>
                    {% else %}
                        <span>3</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- 设置截止日期模态框 -->
<div class="modal fade" id="deadlineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">截止日期设置</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">作业提交截止时间</label>
                    <div id="datetime-choose">
                        <input id="choose-date" type="date" class="form-control date" value="2017-07-31">
                        <input id="choose-time" type="time" class="form-control time" value="20:00">
                    </div>
                </div>
                <p class="help-block">截止时间过后学生仍可提交作业，但会被标注为晚交</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="deadline-submit" type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>
    
<!-- 批量验收模态框 -->
<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">批量验收</h4>
            </div>
            <div class="modal-body">
                <p class="help-block">确认要批量验收所有已提交作业吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="check-all-submit" type="submit" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>


<script>
    
    // 展现当前截止时间
    var getdeadline = '{{qi.deadline}}';
    var re = getdeadline.match(/\d+/g);
    if(re){
        if(re[1].length == 1){
            re[1] = '0'+re[1];
        }
        if(re[2].length == 1){
            re[2] = '0'+re[2];
        }
        var current_date = re[0]+'-'+re[1]+'-'+re[2];
        var current_time = re[3]+':'+re[4];
        console.log(current_date, current_time);
        $('#choose-date').val(current_date);
        $('#choose-time').val(current_time);
    }
    
    // 开关下发按钮
    $('#switch_issued').on('click', function(){
        issue = {{ issue }};
        action = $('#switch_issued')[0].getAttribute('action');
        $.ajax({
            type: "GET",
            url: '/api/switchissued',
            data: {
                issue: issue,
                action: action,
            },
            success: function (data) {
                if(data == 'SUCCESS'){
                    window.location.reload();
                }else{
                    console.log(data);
                }
            }
        })
    })
    
    // 开关允许提交按钮
    $('#switch_allow_submit').on('click', function(){
        issue = {{ issue }};
        action = $('#switch_allow_submit')[0].getAttribute('action');
    
        $.ajax({
            type: "GET",
            url: '/api/switchallowsubmit',
            data: {
                issue: issue,
                action: action,
            },
            success: function (data) {
                if(data == 'SUCCESS'){
                    window.location.reload();
                }else{
                    console.log(data);
                }
            }
        })
    })
        
    // 提交新截止时间
    $('#deadline-submit').on('click', function(){
        var issue = {{ issue }};
        var date = $('#choose-date').val();
        var time = $('#choose-time').val();
        var deadline = date+('%20'+time);
        $.ajax({
            type: 'GET',
            url: '/api/updatedeadline?issue='+issue+'&deadline='+deadline,
            success: function(data){
                console.log(data);
                window.location.reload();
            }
        })
    })
        
    // 批量验收按钮
    $('#check-all-submit').on('click', function(){
        issue = {{ issue }};
        $.ajax({
            type: 'GET',
            url: '/api/check_all?issue='+issue,
            success: function(data){
                window.location.reload();
            }
        })
    })
</script>

{% else %}
<div class="alert alert-warning alert-dismissible" role="alert">
    作业信息不存在。<a href="/api/addissue">点击添加</a>作业。
</div>
{% endif %}
{% endblock %}