{% extends 'base.html' %}

{% block header %}作业管理{% endblock %}

{% block content %}

<div style="font-size: 16px;">
        <select class="form-control" style="width: 100px; margin: 10px 0px; display: inline">
            <option>作业一</option>
        </select>
    
        <span style="margin-left: 20px;">
            {% if qi.issued %}
                <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                <span class="green">已下发</span>
            {% else %}
                <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                <span class="red">未下发</span>
            {% endif %}
        </span>
    
        <span style="margin-left: 20px">
            {% if qi.allow_submit %}
                <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                <span class="green">可提交</span>
            {% else %}
                <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                <span class="red">不可提交</span>
            {% endif %}
        </span>
    
        <span style="margin-left: 20px">
            截止时间：
            {% if qi.deadline %}
                <b>{{ qi.deadline }}</b>
            {% else %}
                未设置
            {% endif %}
        </span>
    </div>

<div class="panel panel-success" style="max-width: 600px">
    <div class="panel-heading">
        <h3 class="panel-title">作业操作</h3>
    </div>
    <div class="panel-body">
        {% if qi.issued %}
            <span>是否下发：<span class="green">已下发</span></span>
            <button id="switch_issued" action="close" class="btn btn-default" type="submit">停止</button>
        {% else %}
            <span>是否下发：<span class="red">未下发</span></span>
            <button id="switch_issued" action="open" class="btn btn-default" type="submit">下发作业</button>
        {% endif %}
        <hr>

        {% if qi.allow_submit %}
            <span>提交入口：<span class="green">已开启</span></span>
            <button id="switch_allow_submit" action="close" class="btn btn-default" type="submit">关闭</button>
        {% else %}
            {% if qi.issued %}
                <span>提交入口：<span class="red">已关闭</span></span>
                <button id="switch_allow_submit" action="open" class="btn btn-default" type="submit">开启</button>
            {% else %}  
                <span>提交入口：<span class="gray">请先下发作业</span></span>
            {% endif %}
        {% endif %}
        <hr>

        {% if qi.deadline %}
            <span>截止时间：{{qi.deadline}}</span>
            <button class="btn btn-default" data-toggle="modal" data-target="#deadlineModal">修改</button>
        {% else %}
            <span>截止时间：<span class="red">未设置</span></span>
            <button class="btn btn-default" data-toggle="modal" data-target="#deadlineModal">设置</button>
        {% endif %}
        
    </div>
</div>

<div class="panel panel-success" style="max-width: 900px">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">已提交作业</h3>
    </div>

    <table class="table table-hover">
        <thead>
          <th>学号</th>
          <th>姓名</th>
          <th>提交时间</th>
          <th>是否按时</th>
          <th>验收结果</th>
          <th>操作</th>
        </thead>

        {% for qh in qh_all %}
            {% if qh.repo %}
            <tr>
            <td>{{qh.student_id}}</td>
            <td>{{qh.student_id.name}}</td>
            <td>{{qh.submit_time}}</td>
            <td>
                {% if qh.repo %}
                    {% if qh.submit_time < qi.deadline %}
                        <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                    {% endif %}
                {% else %}
                ——
                {% endif %}
            </td>
            <td>
                {% if qh.check_result %}
                    {% ifequal qh.check_result 1 %}
                    <span class="green">通过</span>
                    {% else %}
                    <span class="red">未通过</span>
                    {% endifequal %}
                {% else %}
                <span class="gray">未验收</span>
                {% endif %}
            </td>
            <td><a href="https://github.com/{{qh.student_id.github}}/{{qh.repo}}" target="_blank">查看作业</a><a href="#" style="margin-left:20px">验收</a></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<div class="panel panel-danger" style="max-width: 600px">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">未提交名单</h3>
        </div>
    
        <table class="table table-hover">
            <thead>
              <th>学号</th>
              <th>姓名</th>
              <th>作业是否下载</th>
              <th>下载剩余次数</th>
            </thead>
            <tbody>
                {% for qs in qs_not_all %}
                <tr>
                    <td>{{qs.student_id}}</td>
                    <td>
                        {% if qs.name %}
                            {{qs.name}}
                        {% else %}
                            ——
                        {% endif %}
                    </td>
                    <td>
                        {% if qs.homework %}
                        <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                    {% if qs.homework.download_limit %}
                      {{qs.homework.download_limit}}
                    {% else %}
                      3
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<div class="modal fade" id="deadlineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">截止日期设置</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">作业提交截止时间</label>
                        <div id="datetime-choose">
                            <input id="choose-date" type="date" class="form-control date" value="2017-08-31">
                            <input id="choose-time" type="time" class="form-control time" value="20:00">
                        </div>
                    </div>
                    <p class="help-block">截止时间过后学生仍可提交作业，但会被标注为晚交</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="add_submit_btn" type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>


<script>
$('#switch_issued').on('click', function(){
    issue = 1;
    action = $('#switch_issued')[0].getAttribute('action');

    $.ajax({
        type: "GET",
        url: '/api/switchissued',
        data: {
            issue: issue,
            action: action,
        },
        success: function (data) {
            if(data == 'SUCCESS'){
                window.location.reload();
            }else{
                console.log(data);
            }
        }
    })
})

$('#switch_allow_submit').on('click', function(){
    issue = 1;
    action = $('#switch_allow_submit')[0].getAttribute('action');

    $.ajax({
        type: "GET",
        url: '/api/switchallowsubmit',
        data: {
            issue: issue,
            action: action,
        },
        success: function (data) {
            if(data == 'SUCCESS'){
                window.location.reload();
            }else{
                console.log(data);
            }
        }
    })
})
</script>

{% endblock %}