{% extends 'base.html' %}

{% block header %}总览{% endblock %}

{% block content %}

<div class="panel panel-success" style="max-width: 900px">
    <div class="panel-heading">
        <h3 class="panel-title">作业通览</h3>
    </div>
    <table class="table table-hover">
        <thead>
            <th>作业序号</th>
            <th>是否下发</th>
            <th>提交入口</th>
            <th>截止时间</th>
            <th>已下载</th>
            <th>已提交</th>
            <th>验收通过</th>
            <th>操作</th>
        </thead>
        <tbody>
        {% for qh in qh_list %}
            <tr>
                <!-- 作业序号 -->
                <td>{{qh.qi.id}}</td>
                <!-- 是否下发下发 -->
                <td>
                    {% if qh.qi.issued %}
                        <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <!-- 提交入口 -->
                <td>
                    {% if qh.qi.allow_submit %}
                        <span class="glyphicon glyphicon-ok-sign green" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove-sign red" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <!-- 截止时间 -->
                <td>{{qh.qi.deadline}}</td>
                <!-- 已下载 -->
                <td>{{qh.download_num}}</td>
                <!-- 已提交 -->
                <td>{{qh.submit_num}}</td>
                <!-- 验收通过 -->
                <td>{{qh.pass_num}}</td>
                <!-- 管理 -->
                <td><a href="/teacher/issues/{{ qh.qi.id }}">管理</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
</div>

<div class="panel panel-success" style="max-width: 500px">
    <div class="panel-heading">
        <h3 class="panel-title">学生通览</h3>
    </div>
    <table class="table table-hover">
        <thead>
            <th>学生总数</th>
            <th>Github绑定人数</th>
            <th>操作</th>
        </thead>
        <tbody>
            <tr>
            <td>{{student_num}}</td>
            <td>{{github_num}}</td>
            <td><a href="/teacher/students/">管理</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}