html{
    overflow: hidden;
}
.homepage{
    width: 100%;
    margin: 0px;
}
.header{
    margin: 0px;
    border-radius: 0px;
}

#navheader, #navtext p, #navtext a{
    color: white;
}
.menu{
    padding: 0px;
    height: 1000px;
    background: #f2f2f2;
}
#menulist{
    padding-top: 60px;
    height: 100%;
}
.page-header{
    margin: 20px 5px 5px;
}
.page-header h2{
    margin: 0px;
}
.list-group-item{
    border-left: 0px;
    border-right: 0px;
}
.red{
    color: red;
}
.green{
    color: green;
}
.gray{
    color: gray;
}

.del_btn{
    cursor: pointer
}

#datetime-choose .date{
    display: inline;
    width: 200px;
}
#datetime-choose .time{
    display: inline;
    width: 80px;
}