#logo{
    text-decoration: none;
    line-height:80px;
    text-align:left;
    padding-left: 50px;
    font-weight:300;
    color:dodgerblue;
    font-size: 30px
}
#logo span{
    color: dodgerblue;
    font-size: 30px;
    line-height: 50px;
}
#nav{
    float: right;
    margin: 20px 100px;
    color:dodgerblue
}
.logindiv{
    width: 200px;
    height: 300px;
    margin: 20px auto 0 auto;
    background-color: white;
    text-align: center
}
.logindiv h1{
    font-size: 45px;
    margin-bottom: 20px
}
.logindiv p{
    margin: 5px
}
.list{
    background-color: white;
    border-radius: 10px;
    margin: 40px auto
}
.thumbnail{
    width: 260px
}
.foot-wrap{
    background-color: #333333;
    color: #ccc;
    padding: 20px
}
.foot-wrap li{
    list-style-type:none
}
.foot-wrap a{
    color: #aaa
}

html{
    overflow: hidden;
}
.homepage{
    width: 100%;
    margin: 0px;
}
.header{
    margin: 0px;
    border-radius: 0px;
}

#navheader, #navtext p, #navtext a{
    color: white;
}
.menu{
    padding: 0px;
    height: 1000px;
    background: #f2f2f2;
}
#menulist{
    padding-top: 60px;
    height: 100%;
}
.page-header{
    margin: 20px 5px 5px;
}
.page-header h2{
    margin: 0px;
}
.list-group-item{
    border-left: 0px;
    border-right: 0px;
}