body{
    background-color: #f2f2f2;
}
.header{
    background-color: white
}
.header a{
    width: 100%;
    color: dodgerblue;
}
#logo{
    text-decoration: none;
    line-height:80px;
    text-align:left;
    padding-left: 50px;
    font-weight:300;
    color:dodgerblue;
    font-size: 30px
}
#logo span{
    color: dodgerblue;
    font-size: 30px;
    line-height: 50px;
}
#nav{
    float: right;
    margin: 20px 100px;
    color:dodgerblue
}
.logindiv{
    width: 200px;
    height: 300px;
    margin: 20px auto 0 auto;
    background-color: white;
    text-align: center
}
.logindiv h1{
    font-size: 45px;
    margin-bottom: 20px
}
.logindiv p{
    margin: 5px
}
.list{
    background-color: white;
    border-radius: 10px;
    margin: 40px auto
}
.thumbnail{
    width: 260px
}
.foot-wrap{
    background-color: #333333;
    color: #ccc;
    padding: 20px
}
.foot-wrap li{
    list-style-type:none
}
.foot-wrap a{
    color: #aaa
}