{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if not permission %}
    <title>我的实验台 - NEUOS</title>
    {% else %}
    <title>教师管理后台 - NEUOS</title>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mycookies.js' %}"></script>  
    

</head>

<body>
    {% include 'base/header.html' %}

    <div class="container homepage">
        <div class="row">
            <div class="col-md-2 menu">
                {% include 'base/menu.html' %}
            </div>
            <div id="main" class="col-md-10" style="height:500px; overflow-y: auto; overflow-x: hidden">
                <div class="page-header">
                    <h3>{% block header %}{% endblock %}</h3>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include 'base/footer.html' %}
</body>

<script>
    win_height = $(window).height();
    $('#main').css('height', win_height-85);
    console.log(win_height);
</script>
</html>