{% extends 'base.html' %}

{% block header %}总览{% endblock %}

{% block content %}

{% if not qu.github %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>请注意！</strong> 您还没有绑定Github账号，无法上交作业，前往<a href="/home/myinfo" class="alert-link">个人中心</a>绑定。
    </div>
{% endif %}

<div class="panel panel-default" style="max-width: 900px">
    <!-- Default panel contents -->
    <div class="panel-heading">作业概况</div>

    <table class="table table-hover">
        <thead>
          <th>作业序号</th>
          <th>提交入口</th>
          <th>截止日期</th>
          <th>提交时间</th>
          <th>是否按时</th>
          <th>检测结果</th>
        </thead>

        {% for qi in qi_all %}
        <tr>
          <td>{{qi.id}}</td>
          <td>{% if qi.allow_submit %}开启{% else %}关闭{% endif %}</td>
          <td>{{qi.deadline}}</td>
          <td>
            {% if qh.repo %}
            {{qh.submit_time}}
            {% else %}
            未提交
            {% endif %}
          </td>
          <td>
            {% if qh.submit_time %}
                {% if qh.submit_time < qi.deadline %}是{% else %}否{% endif %}
            {% else %}
            ——
            {% endif %}
          </td>
          <td>
            {% if qh.check_result %}
                {% ifequal qh.check_result 1 %}
                通过
                {% else %}
                未通过
                {% endifequal %}
            {% else %}
            未检测
            {% endif %}
          </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}