{% extends 'base.html' %}

{% block header %}总览{% endblock %}

{% block content %}

{% if not qu.github %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>请注意！</strong> 您还没有绑定Github账号，无法上交作业，前往<a href="/home/myinfo" class="alert-link">个人中心</a>绑定。
    </div>
{% endif %}

<div class="panel panel-info" style="max-width: 600px">
  <!-- Default panel contents -->
  <div class="panel-heading">个人信息</div>

  <table class="table table-hover">
      <thead>
        <th>学号</th>
        <th>姓名</th>
        <th>Github</th>
      </thead>

      <tr>
        <td>{{qu.student_id}}</td>
        <td>{% if qu.name %}{{qu.name}}{% else %}未填写{% endif %}</td>
        <td>{% if qu.github %}{{qu.github}}{% else %}未绑定{% endif %}</td>
      </tr>
  </table>
</div>


<div class="panel panel-success" style="max-width: 900px">
    <!-- Default panel contents -->
    <div class="panel-heading">作业概况</div>

    <table class="table table-hover">
        <thead>
          <th>作业序号</th>
          <th>提交入口</th>
          <th>截止日期</th>
          <th>提交时间</th>
          <th>是否按时</th>
          <th>检测结果</th>
        </thead>

        {% for qi in qi_all %}
        <tr>
          <td>{{qi.id}}</td>
          <td>{% if qi.allow_submit %}<span class="green">开启</span>{% else %}<span class="red">关闭</span>{% endif %}</td>
          <td>{{qi.deadline}}</td>
          <td>
            {% if qh.repo %}
            {{qh.submit_time}}
            {% else %}
            <span class="red">未提交</span>
            {% endif %}
          </td>
          <td>
            {% if qh.submit_time %}
                {% if qh.submit_time < qi.deadline %}<span class="green">是</span>{% else %}<span class="red">否</span>{% endif %}
            {% else %}
            ——
            {% endif %}
          </td>
          <td>
            {% if qh.check_result %}
                {% ifequal qh.check_result 1 %}
                <span class="green">通过</span>
                {% else %}
                <span class="red">未通过</span>
                {% endifequal %}
            {% else %}
            <span class="red">未检测</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}