<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEU OS实验分发系统</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
<section class="login">
	<div class="titulo">NEU OS实验分发系统</div>
	<form action="#" method="get" enctype="application/x-www-form-urlencoded">
        {% if request.user.is_authenticated %}
            <p class="login_form_text">欢迎回来，{{ request.user.username }}</p>
            <a href="/home" class="enviar">进入我的实验台</a>
            <a href="/accounts/logout" class="enviar logout">退出</a>
        {% else %}
            <p class="login_form_text">请使用校园账号登录</p>
            <a href="/accounts/login" class="enviar">登录</a>
        {% endif %}
    </form>
</section>
</body>
</html>