{% extends 'base.html' %}

{% block header %}
    我的作业
{% endblock %}

{% block content %}

<div style="font-size: 16px;">
    <select class="form-control" style="width: 100px; margin: 10px 0px; display: inline">
        <option>作业一</option>
    </select>

    <span style="margin-left: 20px;">
        {% if qi.issued %}
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            已下发
        {% else %}
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            未下发
        {% endif %}
    </span>

    <span style="margin-left: 20px">
        {% if qi.allow_submit %}
            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
            可提交
        {% else %}
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            不可提交
        {% endif %}
    </span>

    <span style="margin-left: 20px">
        截止时间：
        {% if qi.deadline %}
            <b>{{ qi.deadline }}</b>
        {% else %}
            未设置
        {% endif %}
    </span>
</div>

{% if qi.issued %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">作业下载</h3>
     </div>
    <div class="panel-body">
        <button class="btn btn-default" type="submit">获取我的作业</button>
  </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">作业提交</h3>
    </div>

    <div class="panel-body">
        {% if qi.allow_submit %}
        <label for="basic-url">请输入作业repo名称</label>
        <div class="input-group" style="width: 60%">
            <span class="input-group-addon" id="basic-addon3">https://github.com/yuanyuanzijin/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{qh.repo}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">确认</button>
                </span>
        </div>
        {% else %}
        <p style="color: red">对不起，老师已关闭提交入口</p>
        {% endif %}
    </div>
</div>


<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">作业检测</h3>
    </div>
    <div class="panel-body">
        {% if qi.repo %}
        <button class="btn btn-default" type="submit">在线检测</button>
        {% else %}
        <button class="btn btn-default" type="submit" disabled>您未提交作业</button>
        {% endif %}
    </div>
</div>

{% else %}
<div class="alert alert-warning" role="alert">作业未下发，请等待老师操作</div>
{% endif %}


{% endblock %}